<ion-label class="text-xl">Choose a priority</ion-label>
<div class="grid-choser h-32 w-36 grid grid-cols-2 gap-2 mt-3">
  <div
    class="h-16 flex items-center justify-center text-xs text-center break-all rounded-md border border-blue-600"
    tabindex="0">Do First</div>
  <div
    class="h-16 flex items-center justify-center text-xs text-center break-all rounded-md border border-blue-600"
    tabindex="0">Schedule</div>
  <div
    class="h-16 flex items-center justify-center text-xs text-center break-all rounded-md border border-blue-600"
    tabindex="0">Delegate</div>
  <div
    class="h-16 flex items-center justify-center text-xs text-center break-all rounded-md border border-blue-600"
    tabindex="0">Eliminate</div>
</div>