<ion-header>
  <ion-toolbar>
    <div class="flex justify-between">
      <ion-title class="py-2">Task Matrix</ion-title>
      <!-- <ion-avatar class="mr-2">
        <img src="assets/images/profile.png" />
      </ion-avatar> -->
    </div>
    <ion-segment class="custom-header-segment" [scrollable]="true" (ionChange)="segmentChanged($event)"
      [value]="selectedCategory()">
      @for (item of categories(); track item.id) {
      <ion-segment-button [value]="item.id">
        <ion-label>{{item.name}}</ion-label>
      </ion-segment-button>
      }
      <ion-segment-button [value]="null" layout="icon-end">
        <ion-label>Add Matrix</ion-label>
        <ion-icon name="add"></ion-icon>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content class="relative">
  <div class="scroll-container overflow-x-auto w-full h-full" #matrixContainer id="matrixContainer">
    <div [ngClass]="'h-[calc(200%-100px-100px)]'" class="matrix-container grid grid-cols-2 w-[calc(200%-150px)] overflow-auto">
      <ion-card class="{{'matrix_top_left_class' | appConfig}}" #card1 (click)="scrollIntoView(card1)" id="card1">
        <ion-card-content class="h-full w-full">
          @for (item of matrixLists[0]; track item.id) {

          } @empty {
          <div class="flex items-center justify-center h-full w-full flex-col">
            <span class="text-3xl text-center">Do First</span>
            <span class="text-center text=2xl mt-6">These are the tasks that you need to focus on immediately.</span>
          </div>
          }
        </ion-card-content>
      </ion-card>
      <ion-card class="{{'matrix_top_right_class' | appConfig}}" #card2 (click)="scrollIntoView(card2)">
        <ion-card-content class="h-full w-full">
          @for (item of matrixLists[1]; track item.id) {

          } @empty {
          <div class="flex items-center justify-center h-full w-full flex-col">
            <span class="text-3xl text-center">Schedule</span>
            <span class="text-center text=2xl mt-6">These are the tasks that are important but do not have a deadline
              that is approaching soon.</span>
          </div>
          }
        </ion-card-content>
      </ion-card>
      <ion-card class="{{'matrix_bottom_left_class' | appConfig}}" #card3 (click)="scrollIntoView(card3)">
        <ion-card-content class="h-full w-full">
          @for (item of matrixLists[2]; track item.id) {

          } @empty {
          <div class="flex items-center justify-center h-full w-full flex-col">
            <span class="text-3xl text-center">Delegate</span>
            <span class="text-center text=2xl mt-6">These are the tasks that are not important but do have a deadline
              that is approaching soon.</span>
          </div>
          }
        </ion-card-content>
      </ion-card>
      <ion-card class="{{'matrix_bottom_right_class' | appConfig}}" #card4 (click)="scrollIntoView(card4)">
        <ion-card-content class="h-full w-full">
          @for (item of matrixLists[3]; track item.id) {

          } @empty {
          <div class="flex items-center justify-center h-full w-full flex-col">
            <span class="text-3xl text-center">Eliminate</span>
            <span class="text-center text=2xl mt-6">These are the tasks that are neither important nor urgent.</span>
          </div>
          }
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>