<ion-header>
  <ion-toolbar>
    <ion-title class="">Task Matrix</ion-title>
  </ion-toolbar>
  <ion-toolbar class="-mt-1 overflow-hidden">
    <ion-segment class="custom-header-segment overflow-y-clip" [scrollable]="true" (ionChange)="segmentChanged($event)"
      [value]="selectedCategory()">
      @for (item of categories(); track item.id) {
      <ion-segment-button [value]="item.id" class="opacity-0">
        <ion-label>{{item.name}}</ion-label>
      </ion-segment-button>
      }
      <ion-segment-button [value]="null" layout="icon-end" class="opacity-0">
        <ion-label>Add Matrix</ion-label>
        <ion-icon name="add"></ion-icon>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content class="relative">
  @if (selectedCategory()) {
    <ng-container>
      <div class="scroll-container overflow-x-auto w-full h-full" #matrixContainer id="matrixContainer">
        <div [ngClass]="'h-[calc(200%-100px-50px)]'"
          class="matrix-container grid grid-cols-2 grid-rows-2 w-[calc(200%-150px)] overflow-auto">
          <ion-card class="{{'matrix_top_left_class' | appConfig}} opacity-0 relative" #card1
            (click)="scrollIntoView(card1)" id="card1">
            <ion-card-content class="h-full w-full">
              <ion-badge class="absolute bottom-2 right-2 z-10"
                *ngIf="matrixLists[0].length">{{matrixLists[0].length}}</ion-badge>
              <ion-list class="h-full overflow-auto">
                @if (matrixLists[0].length) {
                <ion-list-header>
                  <ion-label>Do First</ion-label>
                </ion-list-header>
                }
                @for (item of matrixLists[0]; track item.id) {
                <app-task-item #taskItem class="opacity-0" [task]="item" (click)="selectedTask.set(item)"></app-task-item>
                } @empty {
                <div class="flex items-center justify-center h-full w-full flex-col">
                  <span class="text-3xl text-center">Do First</span>
                  <span class="text-center text=2xl mt-6">These are the tasks that you need to focus on
                    immediately.</span>
                </div>
                }
              </ion-list>
            </ion-card-content>
          </ion-card>
          <ion-card class="{{'matrix_top_right_class' | appConfig}} opacity-0" #card2 (click)="scrollIntoView(card2)">
            <ion-badge class="absolute bottom-2 left-2 z-10"
              *ngIf="matrixLists[1].length">{{matrixLists[1].length}}</ion-badge>
            <ion-card-content class="h-full w-full">
              <ion-list class="h-full overflow-auto">
                @if (matrixLists[1].length) {
                <ion-list-header>
                  <ion-label>Schedule</ion-label>
                </ion-list-header>
                }
                @for (item of matrixLists[1]; track item.id) {
                <app-task-item #taskItem class="opacity-0" [task]="item" (click)="selectedTask.set(item)"></app-task-item>
                } @empty {
                <div class="flex items-center justify-center h-full w-full flex-col">
                  <span class="text-3xl text-center">Schedule</span>
                  <span class="text-center text=2xl mt-6">These are the tasks that are important but do not have a
                    deadline
                    that is approaching soon.</span>
                </div>
                }
              </ion-list>
            </ion-card-content>
          </ion-card>
          <ion-card class="{{'matrix_bottom_left_class' | appConfig}} opacity-0" #card3 (click)="scrollIntoView(card3)">
            <ion-badge class="absolute top-2 right-2 z-10"
              *ngIf="matrixLists[2].length">{{matrixLists[2].length}}</ion-badge>
            <ion-card-content class="h-full w-full">
              <ion-list class="h-full overflow-auto">
                @if (matrixLists[2].length) {
                <ion-list-header>
                  <ion-label>Delegate</ion-label>
                </ion-list-header>
                }
                @for (item of matrixLists[2]; track item.id) {
                <app-task-item #taskItem class="opacity-0" [task]="item" (click)="selectedTask.set(item)"></app-task-item>
                } @empty {
                <div class="flex items-center justify-center h-full w-full flex-col">
                  <span class="text-3xl text-center">Delegate</span>
                  <span class="text-center text=2xl mt-6">These are the tasks that are not important but do have a
                    deadline
                    that is approaching soon.</span>
                </div>
                }
              </ion-list>
            </ion-card-content>
          </ion-card>
          <ion-card class="{{'matrix_bottom_right_class' | appConfig}} opacity-0" #card4 (click)="scrollIntoView(card4)">
            <ion-badge class="absolute top-2 left-2 z-10"
              *ngIf="matrixLists[3].length">{{matrixLists[3].length}}</ion-badge>
            <ion-card-content class="h-full w-full">
              <ion-list class="h-full overflow-auto">
                @if (matrixLists[3].length) {
                <ion-list-header>
                  <ion-label>Eliminate</ion-label>
                </ion-list-header>
                }
                @for (item of matrixLists[3]; track item.id) {
                <app-task-item #taskItem class="opacity-0" [task]="item" (click)="selectedTask.set(item)"></app-task-item>
                } @empty {
                <div class="flex items-center justify-center h-full w-full flex-col">
                  <span class="text-3xl text-center">Eliminate</span>
                  <span class="text-center text=2xl mt-6">These are the tasks that are neither important nor
                    urgent.</span>
                </div>
                }
              </ion-list>
            </ion-card-content>
          </ion-card>
        </div>
      </div>
  
      <ion-modal #taskCreateEditModel trigger="open-modal" [initialBreakpoint]="0.6" [breakpoints]="[0, 0.6, 1]"
        (didDismiss)="onModalClosed($event)" (didPresent)="isEditingTask.set(true)">
        <ng-template>
          <app-create-task class="h-full" [modelRef]="taskCreateEditModel" [categoryId]="selectedCategory()!"
            [task]="selectedTask()"></app-create-task>
        </ng-template>
      </ion-modal>
    </ng-container>
  } @else {

  }
</ion-content>

<ion-footer @slideUpDown class="transition-all" [translucent]="true">
  <ion-button class="w-full m-0" id="open-modal" expand="block">Add Task</ion-button>
</ion-footer>


<ion-modal #taskDetailModel [initialBreakpoint]="1" [breakpoints]="[0, 1]" [handle]="false" style="--height: auto"
  (didDismiss)="!isEditingTask() && selectedTask.set(null)">
  <ng-template>
    <ion-toolbar>
      <ion-title>Task Details</ion-title>
      <ion-button color="primary" slot="end" fill="clear" (click)="taskDetailModel.dismiss()">
        Close
      </ion-button>
    </ion-toolbar>
    <ion-item>
      <div class="mb-4 w-full">
        <div class="w-full py-3 pb-0 text-xl font-bold">{{selectedTask()?.name}}</div>
        <div class="flex justify-between py-3">
          <div id="time" class="flex items-center">
            <ion-icon name="time-outline" class="text-xl"></ion-icon>
            <span class="ml-2">{{selectedTask()?.createdAt | date: 'medium'}}</span>
          </div>
        </div>
        <div class="flex gap-2 justify-between">
          <ion-button color="primary" size="small" fill="outline" (click)="onTaskCompleted(selectedTask()?.id!)">
            Mark As Done
          </ion-button>
          <div class="flex gap-2">
            <ion-button color="warning" size="small" fill="outline" (click)="onEditTask()">
              Edit
            </ion-button>
            <ion-button color="danger" size="small" fill="outline" (click)="onDeleteTask(selectedTask()?.id!)">
              Delete
            </ion-button>
          </div>
        </div>
      </div>
    </ion-item>
  </ng-template>
</ion-modal>