<ion-content [fullscreen]="true">
  <div class="flex items-center justify-center h-full flex-col">
    <img src="/assets/icon/transparent-icon.png" alt="" class="w-1/2 max-w-xs">
    <h1 class="mt-16 text-5xl text-center px-2 font-semibold">Task Matrix</h1>
    <p class="mt-10 text-3xl text-center px-4">
      Organize your tasks into an Eisenhower Matrix and get things done!
    </p>
  </div>
</ion-content>

<ion-footer>
  <ion-button expand="full" class="m-0" size="large">
    Get Started
    <ion-icon slot="end" name="arrow-forward"></ion-icon>
  </ion-button>
</ion-footer>