.custom-header-segment {
    ion-label {
        text-transform: none;
    }
}

.custom-toolbar-content {
    background-color: var(--ion-toolbar-background) !important;
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
}

.alert-button-group {
    button.alert-delete-button {
        color: var(--ion-color-danger);
    }
}