<ion-header>
  <ion-toolbar>
    <ion-segment class="custom-header-segment" [scrollable]="true" (ionChange)="segmentChanged($event)"
      [value]="selectedCategory()">
      @for (item of categories(); track item.id) {
      <ion-segment-button [value]="item.id">
        <ion-label>{{item.name}}</ion-label>
      </ion-segment-button>
    }
    <ion-segment-button [value]="null" layout="icon-end">
      <ion-label>Add Matrix</ion-label>
      <ion-icon name="add"></ion-icon>
    </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="">
    content
  </div>
</ion-content>